<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Dyamic_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletDemo_01</display-name>
    <servlet-name>ServletDemo_01</servlet-name>
    <servlet-class>com.dxc.ServletDemo_01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo_01</servlet-name>
    <url-pattern>/ServletDemo_01</url-pattern>
    <url-pattern>/sd1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestProcessor</display-name>
    <servlet-name>RequestProcessor</servlet-name>
    <servlet-class>com.dxc.RequestProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestProcessor</servlet-name>
    <url-pattern>/RequestProcessor</url-pattern>
    <url-pattern>/reqpro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqResponse</display-name>
    <servlet-name>ReqResponse</servlet-name>
    <servlet-class>com.dxc.ReqResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqResponse</servlet-name>
    <url-pattern>/ReqResponse</url-pattern>
    <url-pattern>/reqres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqRedirect</display-name>
    <servlet-name>ReqRedirect</servlet-name>
    <servlet-class>com.dxc.ReqRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqRedirect</servlet-name>
    <url-pattern>/ReqRedirect</url-pattern>
    <url-pattern>/reqred</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sucesspage</display-name>
    <servlet-name>Sucesspage</servlet-name>
    <servlet-class>com.dxc.Sucesspage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sucesspage</servlet-name>
    <url-pattern>/Sucesspage</url-pattern>
    <url-pattern>/sucess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.dxc.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo_02</display-name>
    <servlet-name>ServletDemo_02</servlet-name>
    <servlet-class>com.dxc.ServletDemo_02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo_02</servlet-name>
    <url-pattern>/ServletDemo_02</url-pattern>
    <url-pattern>/sd2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JdbcSevlet</display-name>
    <servlet-name>JdbcSevlet</servlet-name>
    <servlet-class>com.dxc.JdbcSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcSevlet</servlet-name>
    <url-pattern>/JdbcSevlet</url-pattern>
    <url-pattern>/jdbc</url-pattern>
  </servlet-mapping>
</web-app>